/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label{
  color: #43a047 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus{
  border-bottom: 1px solid #43a047 !important;
  box-shadow: 0 1px 0 0 #43a047 !important;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=password].valid{
  border-bottom: 1px solid #43a047 !important;
  box-shadow: 0 1px 0 0 #43a047 !important;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=password].invalid {
  border-bottom: 1px solid #f44336 !important;
  box-shadow: 0 1px 0 0 #f44336 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #43a047 !important;
}

.login-box, html, body{
  height: 100%;
}

.error-text{
  color:red;
  font-weight:bold;
}

body{
  background: #EC9C57;
}

.card.rental-form{
  margin:0 0 0 0 !important;
}

.card.rental-form > .card-content{
  padding:0 !important;
}

.card.rental-form > .card-content > .collection{
  margin:0 !important;
}

.form-button{
  width:100%;
  height:4em;
}

.col.s11{
  margin-left: 0px !important;
}